/* 
	Import fonts
*/

@font-face {
	font-family: PressStart2P-Regular;
	src: url(../fonts/PressStart2P-Regular.ttf);
}

@font-face {
	font-family: Neucha-Regular;
	src: url(../fonts/Neucha-Regular.ttf);
}

html, body {
	height: 100%;
}

html {
	font-family: Neucha-Regular;
	font-size: 20px;
	color: #ffffff;

	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-image: linear-gradient(to bottom,
		rgba(85, 85, 85, 1), rgba(72, 72, 72, 1));
}

h1 {
	font-family: PressStart2P-Regular;
	text-align: left;
	color: #ffffff;
	text-shadow:
		-2px -2px 0 #000000,
		0px 2px 0 #000000,
		0px -2px 0 #000000,
		-2px 0px 0 #000000,
		2px 0px 0 #000000,
		2px 2px 0 #000000;
}

#paragraph {
	display: flex;
	width: 1400px;
}

#container {
	position: relative;
}

/*
	Big image style & animations!
*/
.big_image {
	pointer-events: none;
	right:-1000px;
	position: fixed;
	bottom: 10px;
	z-index:3;

	filter: drop-shadow(20px -5px 0px #212121);
}

@keyframes slide_in {
	from {
		right: -1000px;
	}

	to {
		right: 10px;
	}
}

@keyframes slide_out {
	from {
		right: 10px;
	}

	to {
		right: -1000px;
	}
}

.changing {
	animation: slide_in 1s;
	right: 10px;
}

.changing_out {
	animation: slide_out 1s;
	right: -1000px;
}

/*
	Paragraph style
*/
.para {
	display: block;
	width: 500px;
	word-wrap: break-word;
}

/*
	Entry list style information and animations
*/

.entry_list {
	width: 400px;
	height: 750px;
	float: left;
	overflow-y: scroll
}

.entry {
	font-family: PressStart2P-Regular;
	font-size: 15px;
	hyphens: auto;
	text-align: left;
	position: relative;
	z-index: 2;

	background: #000000;
	display: inline-flex;
	width: 150px;
	height: 150px;
	word-break: normal;
	padding: 5px;
	border: 3px solid #000000;
	margin: 10px;
	box-shadow: 5px 5px 0px #000000;
}

.active {
	font-family: PressStart2P-Regular;
	font-size: 15px;
	color: #42e0ff;
	hyphens: auto;
	text-align: left;
	position: relative;
	z-index: 2;

	background: #0976db;
	display: inline-flex;
	width: 150px;
	height: 150px;
	word-break: normal;
	padding: 5px;
	border: 3px solid #0049bf;
	margin: 10px;
	box-shadow: 5px 5px 0px #0049bf;
}

.entry:hover {
	color: #000000 !important;
	border: 3px solid #ffffff !important;
	background-color: white !important;
}

.entry_text_container {
	width: 667px;
	height: 720px;
	float: right;
	overflow: hidden;
}

.entry_text {
	width: 667px;
	height: 700px;
	padding-right: 20px;
	overflow-y: scroll;
	overflow-x: clip;
	white-space: pre-wrap;

	font-family: PressStart2P-Regular;
	font-size: 15px;
	word-wrap: normal;
	color: #efefef;
	hyphens: auto;
	text-align: left;
	z-index: 2;
}

.entry_container {
	width: 1087px;
	height: 770px;
}

#h_gap {
	width: 667px;
	height: 50px;
}

#v_gap {
	width: 100%;
	height: 50px;
}

/*
	First sketch style
*/
#first_sketch {
	border: 6px solid #000000;
}