/* 
	Import fonts
*/

@font-face {
	font-family: PressStart2P-Regular;
	src: url(../fonts/PressStart2P-Regular.ttf);
}

@font-face {
	font-family: Neucha-Regular;
	src: url(../fonts/Neucha-Regular.ttf);
}

html, body {
	height: 100%;
}

html {
	font-family: Neucha-Regular;
	font-size: 20px;
	color: #ffffff;

	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-image: linear-gradient(to bottom,
		rgba(85, 85, 85, 1), rgba(72, 72, 72, 1));
}

h1 {
	font-family: PressStart2P-Regular;
	color: #ffffff;
	text-shadow:
		-2px -2px 0 #000000,
		0px 2px 0 #000000,
		0px -2px 0 #000000,
		-2px 0px 0 #000000,
		2px 0px 0 #000000,
		2px 2px 0 #000000;
}

#container {
	position: relative;
}

/*
	Big image style & animations!
*/
.big_image {
	pointer-events: none;
	right:-1000px;
	position: fixed;
	bottom: -50px;
	z-index:3;

	filter: drop-shadow(20px 20px 0px #212121);
}

@keyframes slide_in {
	from {
		right: -1000px;
	}

	to {
		right: 10px;
	}
}

@keyframes slide_out {
	from {
		right: 10px;
	}

	to {
		right: -1000px;
	}
}

.changing {
	animation: slide_in 1s;
	right: 10px;
}

.changing_out {
	animation: slide_out 1s;
	right: -1000px;
}

/*
	Paragraph style
*/
.para {
	width: 400px;
	word-wrap: normal;
}

/*
	Entry list style information and animations
*/
@keyframes blink {
	from {
		background: #000000;
		border: 3px solid #000000;
		color: #ffffff;
	}

	to {
		background: #ffffff;
		border: 3px solid #ffffff;
		color: #000000;
	}
}

.blinker {
	animation-duration: 1s;
	animation-name: blink;
}

.entry_list {
	width: 400px;
}

.entry {
	font-family: PressStart2P-Regular;
	font-size: 15px;
	hyphens: auto;
	text-align: left;
	position: relative;
	z-index: 2;

	background: #000000;
	display: inline-flex;
	width: 150px;
	height: 150px;
	word-break: normal;
	padding: 5px;
	border: 3px solid #000000;
	margin: 10px;
	box-shadow: 5px 5px 0px #000000;
}

.entry:hover {
	color: #000000;
	border: 3px solid #ffffff;
	background-color: white;
}

/*
	First sketch style
*/
#first_sketch {
	border: 6px solid #000000;
}